@using System.ComponentModel.DataAnnotations;
@model TranslateProject.ViewModels.TranslationProviderModel

@{
    ViewData["Title"] = "Translation";
}

<head>
    <link rel="stylesheet" href="~/css/translate.css" />
</head>
<h1>@ViewData["Title"]</h1>

<div>
    <form method="post">
        <div class="form-group">
            <label asp-for="Translation.Text">Text to translate</label>
            <textarea id="text_to_translate" asp-for="Translation.Text" class="form-control" rows="5"></textarea>
            <span asp-validation-for="Translation.Text" class="text-danger"></span>
        </div>
        <br />
        <div class="form-group">
            <label>Translation Provider</label>
            <select id="provider_name" asp-for="Translation.ProviderName" class="form-control" asp-items="Html.GetEnumSelectList<Providers>()">
                <option>-- select provider --</option>
            </select>
        </div>
        <br />
        <div class="form-group">
            <label asp-for="Translation.TargetLanguage">Target Language</label>
            <select id="target_language" asp-for="Translation.TargetLanguage" class="form-control">
                <option value="">-- select language --</option>
            </select>
            <span asp-validation-for="Translation.TargetLanguage" class="text-danger"></span>
        </div>
        <br />
        <input id="translate_button" type="button" value="Translate" class="btn btn-primary" />


        <p id="errormessage"></p>
        <br /><br />
        <div class="form-group">
            <label>Translated text:</label>
            <textarea id="translatedText" asp-for="Translation.Text" class="form-control" rows="5" readonly></textarea>
        </div>
    </form>
</div>

@section Scripts
    {
    <script>
        // Handles the two dropdowns and their options
        $(document).ready(function () {

            $("#provider_name").change(function () {
                var val = $(this).val();
                $("#target_language").html(options[val]);
            });

            var options = [
                "<option value='ar'>Arabic</option><option value='zh-CN'>Chinese (Simplified)</option><option value='zh-TW'>Chinese (Traditional)</option><option value='ko'>Korean</option>",
                "<option value='ZH'>Chinese (Simplified)</option><option value='KO'>Korean</option>",
                "<option value='ar'>Arabic</option><option value='zh-Hans'>Chinese (Simplified)</option><option value='zh-Hant'>Chinese (Traditional)</option><option value='ko'>Korean</option>"
            ];
        });

        // Handles the translate function and POST call
        $("#translate_button").click(function () {
            $.post("/Home/Translate",
                {
                    Text: $('textarea#text_to_translate').val(),
                    TargetLanguage: $('select#target_language').val(),
                    ProviderName: $('select#provider_name').val()
                }).done(function (responseText) {
                    $("textarea#translatedText").html(responseText);
                }).fail(function (response) {
                    console.log(response);
                    console.log(response.responseText);

                    $("p#errormessage").html(response.responseText)
                    alert(response);
                });
        })
    </script>
}
